<div class="main-content">
    <div class="container-fluid">

        <div class="row" style="text-align: center">
            <div class="col-md-4 ml-auto mr-auto ">
                <img style="width: 80%;" src="/assets/img/logo_transparent3.png">
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-4 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-custom">
                        <h4 class="card-title">Sign in</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password" formControlName="password" autocomplete="on">
                                </mat-form-field>
                            </div>
                        </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Sign in</button>

                            <div class="clearfix"></div>
                            <div class="pull-right">
                                <a href="javascript:void(0)" (click)="notRegister()">Create my account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
