<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <p class="card-category">Total customers</p>
                        <h3 class="card-title">{{numberOfClients}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">supervisor_account</i>
                            <a href="javascript:void(0)" [routerLink]="'/clients'">Customers details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">shopping_cart</i>
                        </div>
                        <p class="card-category">Total sales</p>
                        <h3 class="card-title">{{numberOfTransactions}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">shopping_cart</i>
                            <a href="javascript:void(0)" [routerLink]="'/transactions'">Sales details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">view_list</i>
                        </div>
                        <p class="card-category">Total products</p>
                        <h3 class="card-title">{{numberOfProducts}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">view_list</i>
                            <a href="javascript:void(0)" [routerLink]="'/products'">Products details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">report_problem</i>
                        </div>
                        <p class="card-category">Out of stock</p>
                        <h3 class="card-title">{{outOfStocks}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">report_problem</i>
                            <a href="javascript:void(0)" [routerLink]="'/transactions'">Out of stock details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-custom">
                        <h4 class="card-title">Active customers</h4>
                        <span>List of customers currently shopping</span>
                    </div>
                    <div class="card-body">
                        <table *ngIf="users !== undefined && users.length !== 0; else elseBlock" class="table">
                            <thead class="text-warning">
                            <tr>
                                <th>Id</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Products in cart</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{user.uid}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td class="p-grid">
                                    <div *ngFor="let product of user.shoppingCart" class="p-col-12">{{product.name}} x {{product.numberOfItemInCart}} </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ng-template #elseBlock>
                            <span>No customer currently shopping</span>
                        </ng-template>
                    </div>
                    <div class="card-footer">
                        <ng-template [ngIf]="users !== undefined && users.length !== 0">
                            <button mat-raised-button type="submit" class="btn btn-danger">Send recommendations</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
