<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-content table-responsive table-full-width">
                    <p-table #dt [value]="users" dataKey="uid" editMode="row" [responsive]="true" [paginator]="true" [rows]="10" [autoLayout]="true" [globalFilterFields]="['uid', 'email', 'role', 'firstName', 'lastName', 'birthDate', 'city', 'country', 'balance']">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th [pSortableColumn]="'uid'" [style]="'white-space: nowrap'">Id<p-sortIcon [field]="'id'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'email'" [style]="'white-space: nowrap'">Email<p-sortIcon [field]="'email'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'role'" [style]="'white-space: nowrap'">Role<p-sortIcon [field]="'role'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'firstName'" [style]="'white-space: nowrap'">Firstname<p-sortIcon [field]="'firstName'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'lastName'" [style]="'white-space: nowrap'">Lastname<p-sortIcon [field]="'lastName'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'birthDate'" [style]="'white-space: nowrap'">Birthdate<p-sortIcon [field]="'birthDate'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'city'" [style]="'white-space: nowrap'">City<p-sortIcon [field]="'city'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'country'" [style]="'white-space: nowrap'">Country<p-sortIcon [field]="'country'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th [pSortableColumn]="'balance'" [style]="'white-space: nowrap'">Balance<p-sortIcon [field]="'balance'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon></th>
                                <th style="width:8em"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="rowData">
                                <td>
                                    {{rowData.uid}}
                                </td>
                                <td>
                                    {{rowData.email}}
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="roles" [(ngModel)]="rowData.role" [style]="{'width':'100%'}"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.role}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="rowData.firstName" [style]="'width:100%'">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.firstName}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="rowData.lastName" [style]="'width:100%'">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.lastName}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    {{rowData.birthDate| date: 'shortDate'}}
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="rowData.city" [style]="'width:100%'">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.city}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="rowData.country" [style]="'width:100%'">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.country}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="number" [(ngModel)]="rowData.balance" [style]="'width:100%'">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.balance}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="text-align:center" [style]="'white-space: nowrap'">
                                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info"></button>
                                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData.uid, rowData)"></button>
                                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
