<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-content table-responsive table-full-width">
                    <p-table #dt [(selection)]="selectedProducts" [autoLayout]="true"
                             [globalFilterFields]="['id', 'name', 'section', 'category', 'price', 'quantity', 'shelf', 'positionX', 'positionY']"
                             [paginator]="true" [responsive]="true" [rows]="10" [value]="products" dataKey="id"
                             editMode="row">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                                       placeholder="Global Filter" size="50" style="width:auto" type="text">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3em">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th [pSortableColumn]="'id'" [style]="'white-space: nowrap'">Id
                                    <p-sortIcon [field]="'id'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'name'" [style]="'white-space: nowrap'">Name
                                    <p-sortIcon [field]="'name'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'section'" [style]="'white-space: nowrap'">Section
                                    <p-sortIcon [field]="'section'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'category'" [style]="'white-space: nowrap'">Category
                                    <p-sortIcon [field]="'category'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'price'" [style]="'white-space: nowrap'">Price
                                    <p-sortIcon [field]="'price'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'quantity'" [style]="'white-space: nowrap'">Quantity
                                    <p-sortIcon [field]="'quantity'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'shelf'" [style]="'white-space: nowrap'">Shelf
                                    <p-sortIcon [field]="'shelf'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'positionX'" [style]="'white-space: nowrap'">PositionX
                                    <p-sortIcon [field]="'positionX'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'positionY'" [style]="'white-space: nowrap'">PositionY
                                    <p-sortIcon [field]="'positionY'"></p-sortIcon>
                                </th>
                                <th style="width:8em"></th>
                            </tr>
                        </ng-template>
                        <ng-template let-editing="editing" let-ri="rowIndex" let-rowData pTemplate="body">
                            <tr [pEditableRow]="rowData">
                                <td style="width: 3em">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td>
                                    {{rowData.id}}
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input [(ngModel)]="rowData.name" [style]="'width:100%'" pInputText
                                                   type="text">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.name}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [(ngModel)]="rowData.section" [options]="sections"
                                                        [style]="'width:100%'" editable="true"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.section}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [(ngModel)]="rowData.category" [options]="categories"
                                                        [style]="'width:100%'" editable="true"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.category}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input [(ngModel)]="rowData.price" [style]="'width:100%'" pInputText
                                                   type="number">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.price}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input [(ngModel)]="rowData.quantity" [style]="'width:100%'" pInputText
                                                   type="number">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.quantity}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input [(ngModel)]="rowData.shelf" [style]="'width:100%'"
                                                   pInputTexttype="number">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.shelf}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input [(ngModel)]="rowData.positionX" [style]="'width:100%'" pInputText
                                                   type="number">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.positionX}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input [(ngModel)]="rowData.positionY" [style]="'width:100%'" pInputText
                                                   type="number">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData.positionY}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="text-align:center" [style]="'white-space: nowrap'">
                                    <button *ngIf="!editing" class="ui-button-info" icon="pi pi-pencil" pButton pInitEditableRow type="button"></button>
                                    <button (click)="onRowEditSave(rowData.id, rowData)" *ngIf="editing" class="ui-button-success" icon="pi pi-check" pButton pSaveEditableRow style="margin-right: .5em" type="button"></button>
                                    <button *ngIf="editing" class="ui-button-danger" icon="pi pi-times" pButton pCancelEditableRow type="button"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template let-rowData pTemplate="summary">
                            <div style="text-align:left">
                                <button (click)="showDialogAddProduct()" icon="pi pi-plus" label="Add a product" pButton
                                        style="margin-right:.5em" type="button"></button>
                                <button (click)="deleteProducts()"
                                        *ngIf="selectedProducts && selectedProducts.length > 1"
                                        class="ui-button-danger" icon="pi pi-trash"
                                        label="Delete {{selectedProducts.length}} products" pButton
                                        type="button"></button>
                                <button (click)="deleteProducts()"
                                        *ngIf="selectedProducts && selectedProducts.length == 1"
                                        class="ui-button-danger" icon="pi pi-trash"
                                        label="Delete {{selectedProducts.length}} product" pButton
                                        type="button"></button>
                            </div>
                        </ng-template>
                    </p-table>
                    <p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{width: '300px'}" header="Product Details" (onHide)="closeDialogAddProduct()">
                        <div class="p-grid ui-fluid" *ngIf="product">
                            <div class="p-col-4">
                                <label for="name">Name</label>
                            </div>
                            <div class="p-col-8">
                                <input pInputText id="name" [(ngModel)]="product.name" />
                            </div>
                            <div class="p-col-4">
                                <label for="section">Section</label>
                            </div>
                            <div class="p-col-8">
                                <p-dropdown [options]="sections" id="section" [(ngModel)]="product.section" [style]="{width: 'auto', 'min-width':0}" editable="true" placeholder="Select a section"></p-dropdown>
                            </div>
                            <div class="p-col-4">
                                <label for="category">Category</label>
                            </div>
                            <div class="p-col-8">
                                <p-dropdown [options]="categories" id="category" [(ngModel)]="product.category" [style]="{width: 'auto', 'min-width':0}" editable="true" placeholder="Select a category"></p-dropdown>
                            </div>
                            <div class="p-col-4">
                                <label for="price">Price</label>
                            </div>
                            <div class="p-col-8">
                                <input type="number" id="price" [(ngModel)]="product.price" />
                            </div>
                            <div class="p-col-4">
                                <label for="quantity">Quantity</label>
                            </div>
                            <div class="p-col-8">
                                <input type="number" id="quantity" [(ngModel)]="product.quantity" />
                            </div>
                            <div class="p-col-4">
                                <label for="shelf">Shelf</label>
                            </div>
                            <div class="p-col-8">
                                <input type="number" id="shelf" [(ngModel)]="product.shelf" />
                            </div>
                            <div class="p-col-4">
                                <label for="positionX">PositionX</label>
                            </div>
                            <div class="p-col-8">
                                <input type="number" id="positionX" [(ngModel)]="product.positionX" />
                            </div>
                            <div class="p-col-4">
                                <label for="positionY">PositionY</label>
                            </div>
                            <div class="p-col-8">
                                <input type="number" id="positionY" [(ngModel)]="product.positionY" />
                            </div>
                        </div>
                            <!--<div *ngIf="product" class="p-grid ui-fluid">
                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input formControlName="name" matInput placeholder="name" required type="text">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Section</mat-label>
                                    <mat-select [(ngModel)]="reset" formControlName="section">
                                        <mat-option *ngFor="let section of sections" [value]="section.value">
                                            {{section.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Categorie</mat-label>
                                    <mat-select [(ngModel)]="reset" formControlName="category">
                                        <mat-option *ngFor="let categorie of categories" [value]="categorie.value">
                                            {{categorie.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Price</mat-label>
                                    <input formControlName="price" matInput placeholder="price" required type="number">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Quantity</mat-label>
                                    <input formControlName="quantity" matInput placeholder="quantity" required type="number">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Shelf</mat-label>
                                    <input formControlName="shelf" matInput placeholder="shelf" required type="number">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Position X</mat-label>
                                    <input formControlName="positionX" matInput placeholder="positionX" required type="number">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Position Y</mat-label>
                                    <input formControlName="positionY" matInput placeholder="positionY" required type="number">
                                </mat-form-field>
                            </div>-->
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button (click)="addProduct(); closeDialogAddProduct()" icon="pi pi-check" label="Save" pButton type="submit"></button>
                    </div>
                </p-footer>
                </p-dialog>
            </div>
        </div>
    </div>
</div>
</div>

