<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-content table-responsive table-full-width">
                  <p-table #dt [columns]="cols" [value]="transactions" dataKey="id" [responsive]="true" [paginator]="true" [rows]="10" [autoLayout]="true" [globalFilterFields]="['id', 'userId', 'date', 'products', 'totalPrice']">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                            <tr>
                                <td *ngFor="let col of columns">
                                    <div *ngIf="col.field === 'listProducts'; else elseBlock">
                                        <div *ngFor="let product of rowData[col.field]" class="p-grid">
                                            <div class="p-col-12">{{product.name}} x {{product.numberOfItemInCart}} </div>
                                        </div>
                                    </div>
                                    <ng-template #elseBlock>
                                        <ng-container *ngIf="col.field === 'date'; else thenBlock">
                                            {{rowData[col.field]| date: 'short'}}
                                        </ng-container>
                                    </ng-template>
                                    <ng-template #thenBlock>{{rowData[col.field]}}</ng-template>


                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
