<div *ngIf="auth.userInfos !== undefined" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-custom">
                        <h4 class="card-title">My profile</h4>
                        <p class="card-category">Your informations</p>

                    </div>
                    <div class="card-body">
                        <form [formGroup]="updateForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID" disabled value="{{auth.userData.uid}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Role" type="text" disabled value="{{auth.userInfos.role}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email" disabled value="{{auth.userData.email}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" type="password" disabled value="password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" type="text" formControlName="firstName" ngModel="{{auth.userInfos.firstName}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" type="text" formControlName="lastName" ngModel="{{auth.userInfos.lastName}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Birthdate" type="text" disabled value="{{auth.userInfos.birthDate | date: 'longDate'}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text" formControlName="city" ngModel="{{auth.userInfos.city}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Country" type="text" formControlName="country" ngModel="{{auth.userInfos.country}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-danger pull-right">Save changes</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
